@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-display: 'Jost', sans-serif;
  --background-image-auth: url('../public/images/bg-auth.png');
}

button {
  @apply cursor-pointer;
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@utility scrollbar {
  &::-webkit-scrollbar {
    @apply w-2;
  }

  &::-webkit-scrollbar-track {
    @apply rounded-sm bg-neutral-500;
  }

  &::-webkit-scrollbar-thumb {
    @apply rounded-sm;
    background: #a3a3a3;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #737373;
  }
}

@utility dark {
  & .scrollbar::-webkit-scrollbar-track {
    @apply bg-neutral-700;
  }

  & .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-neutral-500;
  }
}
